.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
